--swiftversion 6.0

--disable blankLinesAroundMark
--disable redundantInit
--disable unusedArguments
--disable enumnamespaces
--disable redundantReturn

--disable redundantSelf
--disable redundantStaticSelf
--disable strongifiedSelf